# Byte-compiled / optimized / DLL files
*__pycache__/
*.py[cod]
*.pyc

*.DS_Store

# .pyenv file
.python-version

# ipython extras
*.ipynb_checkpoints/


# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Sphinx documentation
#*_build
docs/_static
docs/_templates
docs/_notebooks
docs/api/generated
docs/_auto

# qcodes related
experiments.db